* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
}


body, html {
    margin: 0 auto;

}

.header-wrapper {
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 0px;
}

.top {
    width: 100%;
}

.header {
    max-width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 40px;
    background-color: #FFFFFF;
}

.logo {
    cursor: pointer;
    text-align: center;

}

.logo-title { 
    color: #545454;
    letter-spacing: 0.06em;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 9px;
}

.logo-subtitle {
    color: #292929;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.1em;
    margin-left: 1px;
}

.nav {
    transition-duration: 1s;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list {
    width: 443px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list > li {
    margin-top: 0px;
    list-style-type: none;
}

.link-nav {
    color: #545454;
    text-decoration: none;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
}

.nav-list > li:nth-child(1) > a:hover {
    cursor: pointer;
    color: #292929;
    padding-bottom: 3px;
}

.nav-list > li:nth-child(2) > a {
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
    padding-bottom: 3px;
}

.nav-btn {
    display: none;
    transition-duration: 1s;
    z-index: 10;
    width: 30px;
    height: 22px;
    margin: 4px 43px 0px 0px;
    background-image: url(../../assets/images/Burger2.png);
}

.our-friends {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 81px;
    color: #545454;
}

.our-friends-text {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: 2px;
}

.our-friends-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    align-items: space-between;
    max-width: 1200px;
    padding: 0px;
}

.pets-info {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
    border-radius: 9px;
}

.pets-info:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FFFFFF;
}
.photo-pets {
    margin-top: 0px;
}

.name-pets {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.06em;
    margin: 29px 0px 31px 1px;
    color: #545454;
}

.name-pets-btn {
    width: 187px;
    height: 52px;
    background-color: #FAFAFA;
    border: 3px solid #FDDCC4;
    border-radius: 52px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding-left: 1px;
}

.name-pets-btn:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.nav-slide {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 100px auto;
}

.nav-slide-item {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    text-align: center;
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    color: #292929;
}

.nav-slide-item:nth-child(3) {
    background: #F1CDB3;
    border: 0px;
}

.twoLeft, .oneLeft {
    transform: rotate(180deg);
}



button[type="button"]:disabled {
    border: 2px solid #E5E5E5;
    background: #F6F6F6;
    opacity: 0.5;
}

.nav-slide-item:hover {
    cursor: pointer;
    background: #F1CDB3;
}

.footer{
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 40px 0px 40px;
    margin: 0px auto;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.fq-title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.for-questions {
    width: 280px;
    height: 234px;
}

.link-info {
    text-decoration: none;
    display: flex;
    margin: 43px 0px 0px 0px;
    vertical-align: baseline;
}

.for-visit > .link-info {
    text-decoration: none;
    display: flex;
    margin: 31px 0px 0px 0px;
    align-items: center;
}

.for-visit  img {
    width: 22px;
    height: 32px;
}

.link-info > span {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 4px 0px 0px 20px;
}

.for-visit {
    width: 302px;
    height: 234px;
}

.f-img {
    height: 310px;
    margin: -15px 0px 0px 0px;
}

.wr {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 3;
}

.wrblockPopup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 10;
}
.blockPopup {
    display: none;
    width: 900px;
    height: 500px;
    margin: auto;
    background: #FAFAFA;
    border-radius: 9px;
    z-index: 4;
}

.blockPopupImg {
    width: 500px;
    height: 500px;
}

.blockPopupContent {
    width: 352px;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 29px;
    font-family: Georgia;
    color: #000000;
}

.blockPopupContent > h3 {
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;
}

.popupImg {
    border-radius: 9px;
    overflow: hidden;
}

.blockPopupContent > span {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin: 10px 0px 40px 0px;
}

.blockPopupContent > p {
    font-weight: normal;
    font-size: 15px;
    line-height: 112%;
    letter-spacing: 0.06em;
}

.blockPopupContent > ul {
    margin: 43px 0px 0px 15px;
    color: #F1CDB3;

}

.blockPopupContent > ul > li {
    color: #F1CDB3;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.09em;
}

.blockPopupContent > ul > li > span {
    color: #000000;
}

.btnPopup {
    width: 52px;
    height: 52px;
    position: relative;
    top: -476px;
    left: 361px;
    background-image: url(../../assets/images/vect.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}

.btnPopup:hover, .btnPopuphover {
    cursor: pointer;
    background-color: #FDDCC4;
}

@media screen and (max-width: 1279px) {
    .for-questions {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1279px) {
    .header {
        padding: 0px 30px;
    }

    .our-friends-slide {
        justify-content: space-between;
        margin: 0px 94px 0px 94px;
        height:
    }

    .pets-info {
        margin: 30px 0px 0px 0px;
    }

    .pets-tablet {
        display: none;
    }

    .nav-slide {
        margin: 39px auto 75px auto;
    }

    .footer {
        padding: 31px 64px 0px 63px;
        justify-content: space-between;
    }

    .f-img {
        margin: 65px auto 0px auto;
    }

    .link-info > span {
        margin: 4px 0px 0px 20px;
    }

    .blockPopup {
        width: 630px;
        height: 350px;
    }

    .blockPopupImg {
        width: 350px;
        height: 350px;
    }

    .blockPopupContent {
        width: 261px;
        height: 500px;
        margin: 11px 0px 0px 11px;
    }

    .blockPopupContent > span {
        font-size: 20px;
        margin: 9px 0px 20px 0px;
    }

    .blockPopupContent > p {
        font-size: 13px;
    }

    .blockPopupContent > ul {
        margin: 19px 0px 0px 14px;
    }

    .blockPopupContent > ul > li {
        margin-bottom: 7px;
    }

    .btnPopup {
        width: 52px;
        height: 52px;
        position: relative;
        top: -371px;
        left: 260px;
    }
}

@media screen and (max-width: 767px) {
    
    .header {
        padding: 0px 10px;
    }

    .header-active {
        background:#878787;
    }

    .header-wrapper {
        z-index: 5;
        position: fixed;
    }
    .nav-list {
        display: none;
    }
    .nav {
        width: 30px;
        height: 22px;
        margin: 0px 00px 0px 0px;
        background-image: url(../../assets/images/Burger.png);
    }

    .our-friends-slide {
        justify-content: center;
    }

    .our-friends {
        padding-top: 42px;
        margin: 0 auto;
    }

    .our-friends-text {
        font-size: 25px;
        margin-bottom: 12px;
        margin-top: 120px;
    }

    .pets-mobile {
        display: none;
    }

    .nav-slide {
        width: 300px;
        margin: 41px auto 43px auto;
    }

    .footer {
        padding: 30px 0px 0px 0px;
        flex-direction: column;
        align-items: center;
    }
    .for-questions {
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .for-visit {
        margin: 15px 0px 27px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fq-title {
        text-align: center;
        font-size: 25px;
    }

    .for-visit > .fq-title {
        margin: 0px 10px;
    }

    .for-visit img {
        margin: 10px 0px 0px 0px;
    }

    .f-img {
        height: 268px;    
        margin: 0px auto 0px auto;
    }

    .link-info > span {
        margin: 10px 0px 0px 20px;
    }

    .nav {
        transition-duration: 1s;
        z-index: 1;
        position: absolute;
        right: -320px;
        top: 0px;
        width: 320px;
        height: 100%;
        background: #292929;
        display: flex;
    }

    .nav-active {  
        z-index: 9; 
        transition-duration: 1s;
        right: 0px;
        top: 0px;
    }

    .nav-list {
        z-index: 9; 
        display: flex;
        flex-direction: column;
        padding-top: 203px;
        justify-content: start;
        text-align: center;
        padding-top: 970px;
        padding-bottom: 100%;
        background: #292929;
    }

    .nav-list > li:nth-child(1) > a {
        padding-bottom: 7px;
    }

    .nav-list > li {
        margin-top: 55px;
    }

    .link-nav {
        font-size: 32px;
    }

    .nav-btn {
        display: block;
        transition-duration: 1s;
        z-index: 10;
        width: 30px;
        height: 22px;
        margin: 4px 43px 0px 0px;
        background-image: url(../../assets/images/Burger2.png);
    }

    .nav-btn-active {
        position: absolute;
        transform: rotate(90deg);
        transition-duration: 1s;
        right: 11px;
        top: 45px;
    }

    .logo-active {
        cursor: pointer;
        animation-duration: 1.5s;
        animation-name: logoAct;
        position: absolute;
        text-align: center;
        z-index: 10;
        right: 124px;
    }
      
    @keyframes logoAct {
        from {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }

    .blockPopup {
        width: 240px;
        height: 341px;
    }

    .blockPopupImg {
        display: none;
    }

    .blockPopupContent {
        width: 240px;
        height: 500px;
        margin: 11px 9px 0px 11px;
        align-items: center;
    }

    .blockPopupContent > p {
        text-align: justify;
    }

    .blockPopupContent > ul {
        margin: 23px 35px 0px 0px;
    }

    .btnPopup {
        top: -389px;
        left: 123px;
    }

    .logo-title-burger {
        color: #F1CDB3;
        letter-spacing: 0.06em;
        font-family: Georgia, serif;
        font-weight: normal;
        font-size: 32px;
        margin-bottom: 9px;
    }

    .logo-subtitle-burger {
        color: #FFFFFF;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 13px;
        letter-spacing: 0.1em;
        margin-left: 1px;
    }

    .link-nav {
        color: #CDCDCD;
        text-decoration: none;
        font-family: Arial;
        font-weight: normal;
    }

    .nav-list > li:nth-child(2) > a {
        border-bottom: 3px solid #F1CDB3;
        color: #FAFAFA;
        padding-bottom: 4px;
        padding-bottom: 7px;
    }
}